html {
    font-size: 62.5%;
    background: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
    font-family: 'Pinyon Script', cursive;
}

h2 {
    font-size: 14rem;
    font-family: 'Pinyon Script', cursive;
}

li {
    font-size: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

.nav-container {
    background: #fdfdee;
    position: sticky;
    top: 0;
    transform: translateY(-100%);
    z-index: 1;
}

.nav-container-scrolled {
    animation: nav-anim 1s ease forwards;
}

nav {
    width: 80%;
    min-height: 10vh;
    margin: auto;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

nav ul li {
    height: 100%;
    text-align: center;
    padding: 1rem 1rem;
}

.order a{
    font-weight: bold;
}


nav ul a:hover {
    color: rgb(247, 147, 162);
    cursor: pointer;
}

.home {
    height: 180vh;
}

.home-scrolled {
    height: 90vh;
    transition: 1s ease;
}

.downarrow {
    height: 8vh;
    width: 8vh;
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: jump 2s infinite;
    z-index: 1;
}

.downarrow img{
    height: 3vh;
    width: auto;
}

.downarrow:hover{
    opacity: 0.35;
    cursor: pointer;
}

.downarrow-scrolled {
    display: none;
}

.bandleft {
    transform: translateX(-100%) translateY(3%);
    position: fixed;
    top: 12vh;
    left: 0%;
}

.bandleft-movedin {
    transform: scale(1.2) translateX(-60%) translateY(3%);
    transition: 1s ease;
}

.bandright {
    transform: scale(1) translateX(20%) translateY(3%) rotateY(180deg) rotateX(180deg);
    position: fixed;
    top: 12vh;
    left: 100%;
}

.bandright-movedin {
    transform: scale(1.2) translateX(-20%) translateY(3%) rotateY(180deg) rotateX(180deg);
    transition: 1s ease;
}

.logo-center {
    text-align: center;
    position: sticky;
    top: 45%;
}

#mainlogo {
    transform: scale(1);
    fill: transparent;
    animation: fill 2.5s ease 1s forwards;
}

#mainlogo path:nth-child(1){
    stroke-dasharray: 1197.531px;
    stroke-dashoffset: 1197.531px;
    animation: line-anim 2s ease forwards;
}
#mainlogo path:nth-child(2){
    stroke-dasharray: 264.153px;
    stroke-dashoffset: 264.153px;
    animation: line-anim 2s ease 0.3s forwards;
}
#mainlogo path:nth-child(3){
    stroke-dasharray: 333.442px;
    stroke-dashoffset: 333.442px;
    animation: line-anim 2s ease 0.6s forwards;
}
#mainlogo path:nth-child(4){
    stroke-dasharray: 264.153px;
    stroke-dashoffset: 264.153px;
    animation: line-anim 2s ease 0.9s forwards;
}

.about-container {
    height: 70vh;
}

.about-section{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about {
    padding: 5rem;
    text-align: center;
    flex: 1;
}

.about h1 {
    margin-bottom: 5rem;
}

.about p {
    font-size: 2rem;
}

.about-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 3%;
    overflow: hidden;
}

.about-image img{
    width: 100%;
    height: 100%;
    max-width: 45rem;
    max-height: 45rem;
}

.howto-container {
    height: 45vh;
}

.howto {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.card {
    margin: 0 2rem;
    background: #fdfdee;
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    object-fit: contain;
    max-width: 35rem;
    box-shadow: 4px 4px 5px rgb(180, 177, 177);;
}

.card p {
    margin: 1rem 0rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.card img {
    max-width: 100%;
    max-height: 90%;
}

@keyframes nav-anim{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: black;
    }
}

@keyframes jump {
    0% { bottom: 5vh; } 50% { bottom: 8vh; } 100% { bottom: 5vh; }
  }
